.shopItem{
    display: grid;

    background-color: lightgray;
    padding: 12px;
    border-radius: 12px;
}

.shopItem > h1 {
    text-align: center;

    padding: 0;
    margin: 0;
}

.tagsHolder {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 60px;
    align-items: center;
}

.tagsHolder > p {
    background-color: #80b3df;
    padding: 3px 9px;
    border-radius: 50px;
}

.buyBtn {
    background-color: #a1a1a1;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
}

.buyBtn:hover {
    cursor: pointer;
}