{block content}

{control basketlist}

{control orderform}

{/block}

{block css}
	<link rel="stylesheet" href="{$basePath}/css/basketHolder.css">
	<link rel="stylesheet" href="{$basePath}/css/basketItem.css">
{/block}