{block content}
{control basket}

<div id="itemsHolder">
	{ifset $items}
		{foreach $items as $item}
			{include '../shopItem.latte' item: $item}
		{/foreach}
	{/ifset}
</div>
{/block}

{block css}
	<link rel="stylesheet" href="{$basePath}/css/itemsHolder.css">
	<link rel="stylesheet" href="{$basePath}/css/shopItem.css">
{/block}