<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>

	{ifset css}{include css}{/ifset}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<a n:href="Home:default">Domů</a>

	{include content}

	{block scripts}
	<script src="https://unpkg.com/nette-forms@3"></script>
	{/block}

	<script>naja.initialize();</script>
</body>
</html>
