
<div class="shopItem">
    <h1>{$item['name']}</h1>
    <div>
        <h2>cena: {$item['cost']} kč</h2>
        <h3>{$item['euCost']} eur</h3>
    </div>
    <div class="tagsHolder">
        {foreach $item['tags'] as $tag} 
            <p>{$tag}</p>
        {/foreach}
    </div>

    <a n:href="basket:buy! $item['id']" class="ajax buyBtn">Koupit</a>
</div>