{snippet}
    <p>V košíku máte aktuálně {ifset $amount}{$amount}{/ifset} věcí za {ifset $cost}{$cost}{/ifset} kč</p>

    <a n:href="empty!" class="ajax">Vyprázdnit</a>

    <a href={plink Basket:default}>Zobrazit košík</a>
{/snippet}