{snippet}
    {ifset $items}
        {foreach $items as $item}
            {include '/RtShop/app/Templates/shopItem.latte' item: $item}
        {/foreach}
    {/ifset}

    <script>
        var maxPage = {$maxPage};
    </script>
{/snippet}